.lottie-chatbot-arrow {
  position: fixed;
  right: 160px;
  bottom: -50px;
  width: 350px;
  height: 350px;
  z-index: 1200;
  background: none;
  pointer-events: none;
  border: none;
  transform: rotate(18deg);
} 